.title{
    
    margin: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 400px;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}
.red{
    color: red;
}